<div class="container">
  <div class="row justify-content-center">
    <div class="col-auto mt-3">
      <div>
        <label for="date" class="sr-only">Date</label>
        <input id="date" type="text" class="form-control mb-3"
               [ngModel]="date | date:'yyyy-MM-dd'" (ngModelChange)="date = $event">
      </div>
      <skm-datepicker [(date)]="date"></skm-datepicker>
    </div>
    <div class="col-auto mt-3">
      <div>
        <label for="date2" class="sr-only">Date</label>
        <input id="date2" type="text" class="form-control mb-3"
               [ngModel]="undef | date:'yyyy-MM-dd'" (ngModelChange)="undef = $event">
      </div>
      <skm-datepicker [(date)]="undef"></skm-datepicker>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-auto">
      <skm-datepicker></skm-datepicker>
    </div>
  </div>
</div>
