<div class="container">
  <div class="row justify-content-center">
    <div class="col mt-3 text-center">
      <div>
        <label for="date" class="sr-only">Date</label>
        <input id="date" type="text" class="form-control mb-3"
               [ngModel]="date | date:format" (ngModelChange)="tryUpdate($event, 'date')">
      </div>
      <skm-datepicker class="d-inline-block theme-a" [(ngModel)]="date"></skm-datepicker>
    </div>
    <div class="col mt-3 text-center">
      <div>
        <label for="date2" class="sr-only">Date</label>
        <input id="date2" type="text" class="form-control mb-3"
               [ngModel]="undef | date:format" (ngModelChange)="tryUpdate($event, 'undef')">
      </div>
      <skm-datepicker class="theme-b"
                      [(date)]="undef"
                      [deselectEnabled]="true"
                      [dayLabels]="customDayLabels"
                      [weekDayLabels]="customWeekDayLabels"
                      [monthLabels]="customMonthLabels"></skm-datepicker>
      <div>
        <small>
          (Inaccurate example because Romans used Julian calendar,
          whereas Javascriptians use Gregorian one.
          Not to mention emojis)
        </small>
      </div>
    </div>
  </div>
</div>
