.theme-b {
  font-family: Jua, sans-serif;
  text-transform: uppercase;

  button {
    background: transparent;
    border: 0;
    font: inherit;
    color: inherit;
    transition: background 150ms;
  }

  .skm-datepicker {
    max-width: 350px;
    margin: auto;
    height: 400px;
    color: white;
    background: #FAD7A1;
  }

  .skm-datepicker-header {
    font-weight: 700;
    height: 70px;
    line-height: 70px;
    background: #E96D71;
    border-bottom: 5px solid white;
    padding: 0 70px;
  }

  .skm-datepicker-pagination {
    width: 70px;
    height: 70px;
    font-weight: 700;
    font-size: 2rem;
    background: #F97794;
    border-bottom: 5px solid white;
  }

  .skm-datepicker-weekday {
    font-weight: 700;
    text-align: center;
    line-height: $weekday-label-height;
    background: #FEB692;
    border-bottom: 5px solid white;
  }

  .skm-datepicker-item:not([disabled]):hover {
    background: #FCCF31;
  }

  .skm-datepicker-header:not([disabled]):hover, .skm-datepicker-pagination:not([disabled]):hover {
    background: #e97778;
  }

  .skm-datepicker-current {
    background: #FEB692;
  }

  .skm-datepicker-selected {
    background: #E96D71;
  }

  .skm-datepicker-selected:hover {
    background: #F97794;
  }
}
