@import url('https://fonts.googleapis.com/css?family=Jua|Nunito|Indie+Flower&subset=latin-ext');

$font-family-base: Nunito, sans-serif;
$border-radius: .5rem;
$primary: #861657;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/grid";

button {
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }
}

@import "themes/theme-a";
@import "themes/theme-b";

header {
  color: white;
  text-align: center;
  background: linear-gradient(155deg, #861657 0%, #ffa69e 74%);
  //background: linear-gradient(315deg, #eaafc8, #654ea3); // Pastel lily
  //background-image: linear-gradient(315deg, #9fa4c4 0%, #9e768f 74%);
  //background-image: linear-gradient(315deg, #9e8fb2 0%, #a7acd9 74%);
  //background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
  //background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%); // Gray
}

.snippet {
  background: white;
  border-radius: $border-radius;
}

footer {
  color: white;
  background: #8693ab;
  font-size: 1rem;
}

//.st0 {
//  fill: #f4b525;
//  //fill: #ecc32d;
//  //fill: #f27121;
//  //fill: #659ab8; // Gray
//}
//
//.st1 {
//  fill: #e5a920;
//  //fill: #0000000f;
//}
//
//.st2 {
//  fill: #ffffff;
//}
