<div class="wrapper" #wrapper
     (panstart)="startPan(wrapper.offsetWidth)"
     (panmove)="pan($event)"
     (panend)="endPan()"
     (swiperight)="isSwipeAllowed && showEarlier()"
     (swipeleft)="isSwipeAllowed && showLater()">
  <div class="slider" [ngStyle]="sliderStyles">
    <div class="month" *ngFor="let pane of panes" [style.order]="pane.order">
      <div class="heading">{{pane.month.startDate | date: headingFormat}}</div>
      <div class="week">
        <div class="weekday" *ngFor="let name of weekdays">{{name | date: weekdayFormat}}</div>
      </div>
      <div class="days" (pointerdown)="startPress()" (click)="select($event, pane.month)">
        <div class="shifter" [style.width.px]="40 * pane.month.weekShift"></div>
        <button *ngFor="let day of dayRange"
                [style.display]="pane.month.length < day ? 'none' : ''"
                [class.today]="isToday(day, pane.month)"
                [class.selected]="isSelected(day, pane.month)"
                class="day" type="button">{{day}}</button>
      </div>
    </div>
  </div>
  <button class="pagination prev" (click)="showEarlier()" [disabled]="!isEarlierInRange()">&lsaquo;</button>
  <button class="pagination next" (click)="showLater()" [disabled]="!isLaterInRange()">&rsaquo;</button>
</div>
