<div>
  <label for="date" class="sr-only">Date</label>
  <input id="date" class="form-control mb-3" type="text" [value]="date | date: 'dd-MM-yyyy'">
</div>
<div class="wrapper" #wrapper
     (panstart)="startPan(wrapper.offsetWidth)"
     (panmove)="pan($event)"
     (panend)="endPan($event)"
     (swiperight)="showEarlier()"
     (swipeleft)="showLater()">
  <div class="slider" [ngStyle]="sliderStyles">
    <div class="month" *ngFor="let month of renderedMonths">
      <div class="heading">{{month.origin | date: headingFormat}}</div>
      <div class="grid">
        <div class="weekday cell" *ngFor="let name of weekdays">{{name | date: weekdayFormat}}</div>
        <button class="adjacent day cell" [class.today]="isToday(day)" [class.selected]="isSelected(day)"
                *ngFor="let day of month.earlierDays">{{day | date: dayFormat}}</button>
        <button class="current day cell" [class.today]="isToday(day)" [class.selected]="isSelected(day)"
                *ngFor="let day of month.days" (click)="date=day">{{day | date: dayFormat}}</button>
        <button class="adjacent day cell" [class.today]="isToday(day)" [class.selected]="isSelected(day)"
                *ngFor="let day of month.laterDays">{{day | date: dayFormat}}</button>
      </div>
    </div>
  </div>
  <button class="pagination prev" (click)="showEarlier()" [disabled]="!isEarlierInRange()">&lsaquo;</button>
  <button class="pagination next" (click)="showLater()" [disabled]="!isLaterInRange()">&rsaquo;</button>
</div>
