<div class="wrapper" #wrapper
     (panstart)="startPan(wrapper.offsetWidth)"
     (panmove)="pan($event)"
     (panend)="endPan($event)"
     (swiperight)="showEarlier()"
     (swipeleft)="showLater()">
  <div class="slider" [ngStyle]="sliderStyles">
    <div class="month" *ngFor="let month of generatedMonths">
      <div class="heading">{{month.startDate | date: headingFormat}}</div>
      <div class="week">
        <div class="weekday" *ngFor="let name of weekdays">{{name | date: weekdayFormat}}</div>
      </div>
      <div class="days" (mousedown)="startPress()" (click)="select($event, month)">
        <div class="shifter" [style.width.px]="40 * month.weekShift"></div>
        <button *ngFor="let day of dayRange | slice:0:month.length"
                [class.today]="isToday(day, month)"
                [class.selected]="isSelected(day, month)"
                class="day" type="button">{{day}}</button>
      </div>
    </div>
  </div>
  <button class="pagination prev" (click)="showEarlier()" [disabled]="!isEarlierInRange()">&lsaquo;</button>
  <button class="pagination next" (click)="showLater()" [disabled]="!isLaterInRange()">&rsaquo;</button>
</div>
