$cell-width: 40px;
$cell-height: $cell-width;

:host {
  display: block;
}

button {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
  background: transparent;
  border: 1px solid transparent;

  &:focus {
    outline: none;
  }
}

.wrapper, .month {
  width: 7 * $cell-width;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.slider {
  display: flex;
  transform: translateX(0);
  transition: transform 200ms;
  position: relative;
}

.month {
  flex-shrink: 0;
  overflow: hidden;
}

.heading {
  font-weight: 700;
  text-align: center;
  height: $cell-height;
  line-height: $cell-height;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: $cell-width;
  height: $cell-height;
}

.weekday {
  font-weight: 700;
  text-align: center;
  line-height: $cell-height;
}

.day, .pagination {
  &:not([disabled]) {
    cursor: pointer;
  }
}

.pagination {
  position: absolute;
  top: 0;
  width: $cell-width;
  height: $cell-height;
  font-weight: 700;

  &.prev {
    left: 0;
  }

  &.next {
    right: 0;
  }
}

// THEME

.current {
  color: black;
}

.adjacent {
  color: lightgray;
}

.today {
  border-color: lightgray;
}

.selected {
  border-color: gray;
}
